
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #575549;
  padding-bottom: 15px;
}

.logo img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.link-item{
  list-style: none;
}
.link{
  text-decoration: none;
  color: #575549;
}
.link:hover{
  border-bottom: 1px solid #575549;
}


.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .links {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  header.active .links {
    display: block;
     background-color: #FFFDF7;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 25px;
  }

  header.active .links li {
    margin: 10px 20px;
  }

  header.active .links a {
    font-size: 24px;
  }
}


